/* color palette */
:root {
  --c-white: #ffffff;
  --c-black: #181818;
  --c-grey: #cccccc;
}

/* semantic color variables */
:root {
  --color-background: var(--c-white);
  --color-border: var(--c-grey);
  --color-text: var(--c-black);
  
  --gap: clamp(1rem, 0.375rem + 2vw, 1.5rem);;
  --gap-sm: clamp(0.2rem, -0.8rem + 3.2vw, 1rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Shantell Sans', system-ui;
  font-variation-settings: "ital" 0.2, "wght" 688, "INFM" 77, "BNCE" 21.9, "SPAC" 10;
  font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);  
  margin: .5rem;
}

button, input {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-variation-settings: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}