/* color palette */
:root {
  --c-white: #ffffff;
  --c-black: #181818;
  --c-grey: #cccccc;
}

/* semantic color variables */
:root {
  --color-background: var(--c-white);
  --color-border: var(--c-grey);
  --color-text: var(--c-black);
  
  --gap: clamp(1rem, 0.375rem + 2vw, 1.5rem);;
  --gap-sm: clamp(0.2rem, -0.8rem + 3.2vw, 1rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Comic Sans', system-ui;
  font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);  
  margin: 1rem;
}

button, input {
  font-family: inherit;
  font-size: inherit;
}